#root {
    max-width: 1280px;
    width: 99vw;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "left right right"
        "left right right"
        "left right right";
}

.left-section {
    grid-area: left;
    align-content: center;
}

.right-section {
    grid-area: right;
}

.reference-wrapper {
    display: flex;
    gap: 1rem;
}

